.content {
  height: 100%;
  min-height: 100vh;
  display: inline-block;
  background: #fff;
  width: 100% !important;
}
.detail-col .input-icon img {
  height: 22px;
}

.detail-col .select-dropdown-address img {
  height: 18px;
}

.hint-message {
  color: darkgrey;
  font-size: 13px;
}

.custom_en {
  .detail-col {
    display: flex;
    flex-direction: row-reverse;
    .input-icon {
      border-left: 1px solid;
    }
  }
  .detail-col:last-child {
    .select-dropdown-address {
      width: 100%;
    }
  }
}

.hint-iban {
  color: #177ae2;
  font-size: 12px;
  font-family: 'DIN Next LT Arabic', sans-serif;
}
