<div class="first-bar">

    <div class="arrow_container"
        [ngClass]="{'arrow_ar': translate?.getDefaultLang() == 'ar', 'arrow_en':translate?.getDefaultLang() == 'en'}">
        <p class="sub-title step1">{{'forgotPassword.step1' | translate}}</p>
        <a class="back-button" (click)="goBack()"><img alt="back" [src]="'right-arrow.png' | imagePath: 'icons'"></a>
    </div>
    <p class="sub-title mobileCode">{{'forgotPassword.enterMobileNumber' | translate}}</p>
    <p class="sub-title onetime"> {{'forgotPassword.one-time-verification' | translate}}</p>

</div>

<div class="content">
    <div class="section_login">
        <div class="container container-padding" [formGroup]="signupForm">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> {{'forgotPassword.mobileNumber' | translate}}</mat-label>
                <input matInput type="tel" class="mobile-num" [(ngModel)]="value" formControlName="mobileNumber"
                    name="number" [maxLength]="mobileNumberMaxLength" (keypress)="numberOnly($event)">
                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <p class="error-msg"
                *ngIf="signupForm?.controls['mobileNumber'].value && (signupForm?.controls['mobileNumber']?.invalid || signupForm?.errors)">
                {{'forgotPassword.invalidMobile' | translate}}</p>

            <div class="login-bar input-bar-box">
                <p class="input-text-bar center-text">
                    {{'login.agreemore' | translate}}
                    <a class="terms-of-use underLine"
                        [routerLink]="['/privacy-policy']">{{'login.termConditions' | translate}}</a>
                </p>
                <div>
                    <button type="button" name="submit" class="submit button-sign-up"
                        [disabled]="signupForm?.controls['mobileNumber']?.invalid || signupForm?.errors"
                        (click)="proceedToMobileVerify()">
                        {{'forgotPassword.verify' | translate}}
                    </button>
                </div>
     
                <div class="logos">
                    <img [src]="'en-logo.png' | imagePath: 'icons'" alt="color-logo" class="color-logo en-logo">
                    <img [src]="'ar-logo.png' | imagePath: 'icons'" alt="color-logo" class="color-logo ar-logo">
                </div>
            </div>
        </div>
    </div>
</div>