.notification-light {
    width: 5px;
    height: 5px;
    background: hsl(0deg 87% 64%);
    z-index: 9999999999999999;
    border-radius: 10px;
}

.active-menu-icon {
    display: initial !important;
}

.menu-box-big {
    position: relative;
    .sell-icon {
        background-color: #31CDCD !important;
        position: relative;

        .menu-plus-icon {
            position: absolute;
            top: 30px;
            left: 30px;
        }
    }
    h4 {
        position: absolute;
        bottom: -22px;
        left: 8px;
    }
}

.active {
    .menu-box{
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: -10px;
            left: 12px;
            width: 20px;
            height: 2px;
            background-color: #31CDCD;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}