<div class="redirect-page">
    <div class="top-part">
        <img alt="" [src]="'soumLogo.png' | imagePath" />
     
    </div>
    <div class="bottom-part" >
    
        <div class="ar-attention">
            <h3>عزيزي عميل سوم !</h3>
            <span>يمكنك الدخول على منصة سوم عبر</span>
            <span style="color: '#01B9FF';"> المتصفح من جوالك فقط</span>
            <span> أو تحميل</span>
            <span style="color: '#01B9FF';"> تطبيق سوم </span>
            <span> على متجر تطبيقات أبل.</span>
        </div>
        <div class="ar-attention-bottom">
            سيتم تحـويلك إلـى الصفحة التالية تلقائياً ...
        </div>
    
     <div style="color: '#01B9FF';" class="ar-attention bold-font">{{counter}}</div>
     <br>
        <div class="en-attention">
            <h3>Dear Soum Customer!</h3>
            <span>You can access SOUM from the</span>
            <span style="color: '#01B9FF';"> web using your phone only </span>
            <span>or download  </span>
            <span style="color: '#01B9FF';">SOUM app</span>
            <span> from Apple Store.</span>

        </div>

        <div class="en-attention-bottom">
            You will be directed to the next page automatically …
        </div>
    </div>
</div>

