@import "../../../../assets/css/color.scss";

.button-next{
    background: #177AE2;
    float: right;
    border-radius: 20px 0px 0px 20px ;
}
.skip-buton{
    background: transparent!important;
    font-size: 16px;

color :#434343 !important;
}
.background{
    background-color: #FFFFFF;
    padding: 20px;
    height: 425px;
}
.cart-totals,
.cart-totals table {
  width: 95%;
}

.cart-totals table tr td {
  font-size: 14px;
}

.cart-totals table tr .grand-total {
  color: #363636;
      font-family: "DIN Next LT Arabic", sans-serif !important;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.payment-section .popup-inner {
 

  padding: 20px !important;
}
.popup-inner .products-top-bar{
  padding: 0px 15px 0px 15px;
}
.cart-totals table tr {
  border: none;
}
.small-text {
  width: 352px;
  height: 17px;
  left: 24px;
  top: 318px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: #a8a8a8;
}

.products-bottom .button {
  width: calc(30% - 0px) !important;
 box-shadow:  0 0 9px rgb(190 214 195 / 0%) !important;



  .now-text {
    text-align: center !important;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    
  
  }

}
.products-bottom .btn-full {
    width: calc(100% - 0px) !important;
    border-radius: 30px;
    background: #177AE2;
    padding: 15px;

}
.grey-button{
  width: 40%;
    height: 3px;
    cursor: pointer;
    margin:0px 100px 20px 100px;
    background: #D2D7D9;
    align-self: center;
}

.link-style{
  color: #177AE2 !important;
  text-decoration: underline!important;
}
.normal-font{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
text-align: center;
padding-bottom: 70px;
color: #A8A8A8;
}
.bold-font{
  text-align: center;
    font-weight: bold;
    font-size: 24px !important;
    padding: 20px 0px 20px 0px;
    font-family: 'DIN Next LT Arabic Regular', sans-serif !important;
}
.fa-check-circle{
    font-size: 70px;
    color: #31CDCD;
}