.input-bar-box .input-text-bar {
  text-align: center;
  margin-top: 20px;
}
.login-bar .logos .color-logo {
  height: 40px !important;
  margin-top: 20px;
}
.button-sign-up {
  font-size: 22px;
  width: calc(100% - 0px) !important;
  border-radius: 30px;
  background: #177ae2 !important;
  padding: 15px;
  margin-top: 40px;
}

.content {
  height: 100%;
  min-height: 100vh;
  background: #fff;
  display: block;
  border-radius: 15px;
  bottom: 15px;

  padding-top: 0px !important;
}

div.otp-input {
  margin-top: 20px;
  position: relative;
}

// div.otp-input   span {
//     position: absolute;
//     border-radius: 4px;
//     border: 1px solid #c5c5c5;
//     height: 45px;
//     left: 0px;
//  //   width: 45px;
//     top: 0px;
// }

div.otp-input .otp_input {
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 30px;
  text-align: center;
  border: 0;
  border-bottom: 1px solid;
  /* background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%); */
  background-position: bottom;
  background-size: 51px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 300px;
  height: 45px;
  outline: none;
}
.step1 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: 'DIN Next LT Arabic Regular', sans-serif;
}
.example-full-width {
  width: 333px !important;
}
.first-bar {
  padding: 20px;
  background-color: #177ae2;
  padding-top: 100px;
  color: #ffffff;
  .custom_arrow {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
    .back-button {
      width: 15px;
    }
  }
}
.arrow_ar {
  flex-direction: row-reverse !important;
}
.arrow_en {
  flex-direction: row;
}

.onetime {
  font-family: 'DIN Next LT Arabic Medium', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 2px;
}
.mobileCode {
  font-family: 'DIN Next LT Arabic Bold', sans-serif;
  padding: 10px 0px 10px 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 35px;
}
::ng-deep {
  .activeOtp {
    .mat-form-field-flex {
      border-bottom: 2px solid #177ae2 !important;
    }
    .mobile-num {
      text-align: center !important;
      &:valid {
        color: #177ae2;
      }
    }
  }
}

.mobile-num {
  text-align: center !important;
}
div.otp-input .otp_input::placeholder {
  letter-spacing: 30px;
  text-align: center;
}
.font-color-primary {
  color: #177AE2 !important;
  position: absolute;
  left: 41%;
 // top: 105px;
  text-decoration: underline !important;
}

.disable_link{
  color: #a6aeaf !important;
  cursor: default !important;
}

.countDown {
  font-weight: 600;
  .countDown_timer {
    color: #177AE2;
  }
}
// div.otp-input .otp_input::placeholder {
//     letter-spacing: 47px;
//     /* margin-left: -5px; */
//     text-align: left;
//     font-size: 18px;
//     padding-left: 0px;
// }
// .otp-input .box-2 {
//     left: 58px;
// }

// .otp-input .box-3 {
//     left: 115px;
// }

// .otp-input .box-4 {
//     left: 175px;
// }

// .otp-input .box-5 {
//     left: auto;
//     right: 58px;
// }

// .otp-input .box-6 {
//     left: auto;
//     right: 0px;
// }
