.deActiveButton {
  background-color: white !important;
  color: #000;
}
.card {
  margin-top: 20px;
}
select {
  width: 100px;
  padding: 6px;
  margin: 5px;
}

.labelFiled {
  margin-bottom: -20px;
  margin-top: 15px;
}

.errorTitle {
  font-size: 10px;
  font-weight: 500;
  color: #f35252;
  margin-left: 5px;
}
