<div class="page-content">
  <div class="container-fluid">

    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
          <div class="page-title-right">
            <a class="back-button" (click)="goBack()">
              <img src="assets/images/icons/back-icon.svg" alt="back">
            </a>
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a [routerLink]="['/admin/products']">{{'productsDetails.products' |
                                    translate}}</a>
              </li>
              <li class="breadcrumb-item active">{{'productsDetails.details' | translate}}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- end page title -->
    <div class="row product-all-bid">

      <!-- Display Product Details -->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="products__details__header">
              <h2 class="card-title">{{'productsDetails.productDescription' | translate}}</h2>
              <div class="">
                <button *ngIf="product?.categoryData?.category_name === 'Real Estate'" class="btn btn-primary add-edit-rega-link" (click)="openModalForAddEditRegaPdf('#pdf-rega-link')">{{pdfLinkTypeAction === "Add" ? "Add Guarantees PDF Link" : "Edit Guarantees PDF Link"}}</button>
                <button *ngIf="product?.categoryData?.category_name === 'Real Estate'" class="btn btn-primary add-edit-rega-link" (click)="openModalForAddEditRegaPdf('#add-rega-link')">{{regaLinkTypeAction === "Add" ? "Add REGA License" : "Edit REGA License"}}</button>
                <button class="btn btn-primary edit-price-btn" (click)="addImages()">Upload Images</button>
                 <a title="Admin Logs" [routerLink]="['/admin/products/admin-logs', productId]">
                   <img class="rounded-circle adminLogs" src="assets/images/users/admin.jpg" alt="Admin Logs">
                 </a>
                <button [disabled]="enableBtnEdit" class="btn btn-primary edit-price-btn" (click)="updatePriceAndBid()">
                  <i
                    class="fa fa-edit">{{showInputsToUpdatePrice? ('productsDetails.save' | translate) : 'productsDetails.edit' | translate}}</i>
                </button>

                <button class="btn btn-danger edit-price-btn" (click)="openDeleteModelListing()">
                  <i class="mdi mdi-trash-can font-size-18">Delete</i>
                </button>

                <a class="mr-2 text-solitud" (click)="openProductPage()">
                  <i class="fas fa-eye font-size-18"></i>
                </a>

              </div>

            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="products-slider">
                  <div class="container">
                    <owl-carousel [options]="customOptions" [items]="product?.product_images" class="image-slider">
                      <div class="item" *ngFor="let image of product?.product_images; let i =index">
                        <span class="photo-slider-img"
                          [ngStyle]="{'background-image':'url(' + (image | image) + ')'}"></span>
                          <button *ngIf="product?.product_images?.length > 1" class="btn btn-danger edit-price-btn delete-image-btn" (click)="DeleteProductImage(i)">
                            <i class="mdi mdi-trash-can font-size-18">Delete</i>
                          </button>
                        <!-- <img [src]="image" alt="Product Photos"> -->
                      </div>
                    </owl-carousel>
                    <i class="fas fa-compress" (click)="open()"></i>

                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="table-responsive table-style">
                  <table class="table mb-0 display-info-product">
                    <thead class="thead-light">
                      <tr>
                        <th>{{'product.name' | translate}}</th>
                        <th>{{'product.device' | translate}}</th>
                        <th>{{'product.brand' | translate}}</th>
                        <th>{{'product.model' | translate}}</th>
                        <th>{{'product.buyNowPrice' | translate}}</th>
                        <th>{{'product.variant' | translate}}</th>
                        <th *ngIf="product?.categoryData?.category_name === 'Real Estate'">{{'product.regaLicense' | translate}}</th>
                        <th *ngIf="product?.categoryData?.category_name === 'Real Estate'">{{'product.guaranteesPDFLink' | translate}}</th>
                        <th>{{'product.bidPrice' | translate}}</th>
                        <th>{{'product.status' | translate}}</th>
                        <th>{{'product.code' | translate}}</th>
                        <th>{{'product.listing_elsewhere' | translate}}</th>
                        <th>{{'product.noOfBids' | translate}}</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td data-title="{{'product.name' | translate}}">
                          {{product?.modelData?.model_name}}</td>
                        <td data-title="{{'product.device' | translate}}">
                          {{product?.categoryData?.category_name}}</td>
                        <td data-title="{{'product.brand' | translate}}">
                          {{product?.brandData?.brand_name}}</td>
                        <td data-title="{{'product.model' | translate}}">
                          {{product?.modelData?.model_name}}</td>
                        <td *ngIf="!showInputsToUpdatePrice" data-title="{{'product.buyNowPrice' | translate}}">
                          {{product?.sell_price}} {{currency}}</td>
                        <td *ngIf="showInputsToUpdatePrice" data-title="{{'product.buyNowPrice' | translate}}">
                          <input min="1" class="form-control updatePrice" [(ngModel)]="product.sell_price"
                            (keypress)="numberOnly($event)" type="text" />
                        </td>
                        <td data-title="{{'product.variant' | translate}}">{{product?.varient}}
                        </td>
                        <td *ngIf="product?.categoryData?.category_name === 'Real Estate'" style="max-width: 150px;" data-title="{{'product.regaUrl' | translate}}">{{product?.regaUrl || ''}}</td>
                        <td *ngIf="product?.categoryData?.category_name === 'Real Estate'" style="max-width: 150px;" data-title="{{'product.guaranteesPDFLink' | translate}}" class="guaranteesPDFLink">
                          {{product?.guaranteesUrl || '--------'}} <br />
                          <img *ngIf="product?.guaranteesUrl" src="../../../../../assets/images/deleteIconPdf.png" class="deleteIconPdf" (click)="deletePdfLink()"/>
                        </td>
                        <td *ngIf="!showInputsToUpdatePrice" data-title="{{'product.bidPrice' | translate}}">
                          {{product?.bid_price}} {{currency}}</td>
                        <td *ngIf="showInputsToUpdatePrice" data-title="{{'product.bidPrice' | translate}}">
                          <input min="1" class="form-control updatePrice" [(ngModel)]="product.bid_price"
                            (keypress)="numberOnly($event)" type="text" />
                        </td>
                        <td data-title="{{'product.status' | translate}}">
                          {{product?.sell_status}}</td>
                        <td data-title="{{'product.code' | translate}}">{{product?.code?
                                                    product?.code : '-----'}}</td>
                        <td data-title="{{'product.listing_elsewhere' | translate}}">
                          {{product?.isListedBefore? product?.isListedBefore : '------'}}</td>
                        <td data-title="{{'product.noOfBids' | translate}}">
                          {{product?.bidding?.length}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="product_description">
                  <span style="min-width: '100px';">* {{"productsDetails.Description" | translate}} :
                  </span>
                  <span style="margin: '0 15px';">{{product?.description}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body pt-3">
            <h4 class="card-title mb-3">{{'productsDetails.allBidsDetails' | translate}}</h4>
            <div class="table-responsive table-style question-box">
              <table class="table mb-0">
                <thead class="thead-light">
                  <tr>
                    <th style="width: 20px;">{{'productsDetails.no' | translate}}</th>
                    <th>{{'productsDetails.bidPrice' | translate}}</th>
                    <th>{{'productsDetails.bidUserName' | translate}}</th>
                    <!-- <th>{{'productsDetails.email' | translate}}</th> -->
                    <th>{{'productsDetails.mobile' | translate}}</th>
                    <th style="width:200px;">{{'productsDetails.paymentBlocked' | translate}}</th>
                    <th>{{'productsDetails.date' | translate}}</th>
                    <th>{{'productsDetails.time' | translate}}</th>
                    <th>{{'productsDetails.status' | translate}}</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let bid of product?.bidding | paginate: {
                    id: 'bidList',
                    itemsPerPage: limit,
                    currentPage: currentPage,
                    totalItems: product?.bidding?.length
                  }; let i = index;">
                    <td data-title="{{'productsDetails.no' | translate}}">{{ limit * (currentPage -
                                            1) + i + 1 }}</td>
                    <td data-title="{{'productsDetails.bidPrice' | translate}}">{{bid?.bid_price}}
                    </td>
                    <td class="bid_username" data-title="{{'productsDetails.bidUserName' | translate}}"
                      [routerLink]="['/admin/users/user-details', bid?.user_id]">{{bid?.name}}
                    </td>
                    <!-- <td data-title="{{'productsDetails.email' | translate}}">frank.dean@gmail.com </td> -->
                    <td data-title="{{'productsDetails.mobile' | translate}}">{{bid?.mobileNumber}}
                    </td>
                    <td data-title="{{'productsDetails.paymentBlocked' | translate}}">
                      {{bid?.pay_bid_amount}}
                    </td>

                    <td data-title="{{'productsDetails.date' | translate}}">{{bid?.bid_date | date:
                                            'dd MMM, yyyy'}}
                    </td>
                    <td data-title="{{'productsDetails.time' | translate}}">{{bid?.bid_date | date :
                                            'h:mm:ss a'}}</td>
                    <td data-title="{{'productsDetails.status' | translate}}">{{bid?.bid_status}}
                    </td>


                    <td data-title="{{'productsDetails.deleteBid' | translate}}">
                      <a class="text-danger" (click)="deleteBid(bid?.bid_id, product?._id)"><i
                          class="mdi mdi-trash-can font-size-18"></i></a>
                    </td>
                  </tr>
                  <tr *ngIf="!product?.bidding?.length">
                    <td colspan="5">
                      <p>No Bidding done yet!</p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-sm-12 col-md-5" *ngIf="product?.bidding?.length">
                  <div class="dataTables_info">{{'usersDetails.showMinMaxNumberofListBid' | translate:
                                        entries}}</div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers">
                    <pagination-controls [autoHide]="true" [nextLabel]="paginationNextLabel"
                      [previousLabel]="paginationPreviousLabel" id="bidList" (pageChange)="selectPage($event)">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal fade alert_popup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <div class="sc-ion-alert-ios-h sc-ion-alert-ios-s">
                <div class="alert-wrapper ion-overlay-wrapper sc-ion-alert-ios">
                  <div class="alert-head sc-ion-alert-ios">
                    <h2 id="alert-4-hdr" class="alert-title sc-ion-alert-ios">Payment Blocked</h2>
                  </div>
                  <div id="alert-4-msg" class="alert-message sc-ion-alert-ios">Are you sure you want to payment blocked?
                  </div>
                  <div class="alert-button-group sc-ion-alert-ios">
                    <button type="button" class="alert-button" data-dismiss="modal" aria-label="Close"><span
                        class="alert-button-inner sc-ion-alert-ios">Yes</span>
                    </button>
                    <button type="button" class="alert-button" tabindex="0" data-dismiss="modal"
                      aria-label="Close"><span class="alert-button-inner sc-ion-alert-ios">No</span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <!-- end row -->
    <div class="row order-detail-page product-detail-page" (click)="showList()">
      <div class="col-md-6" *ngIf="showListDetails">
        <div class="card" style="height: 100%;">
          <div class="card-body pt-3 show_detail">
            <h4 class="card-title mb-4">{{'productsDetails.sellerQuestionsListName' | translate}}
              <button style="float: right;" class="btn btn-primary" *ngIf="!showEdit"> <i *ngIf="!showEdit"
                  class="fa fa-edit" (click)="editQuestions()">Edit</i> </button>

              <button style="float: right;" class="btn btn-primary" *ngIf="showEdit"> <i class="fa fa-check"
                  (click)="editQuestions(); saveProduct()"> Save </i></button>
              <span class="plus-text">
                <span [class]="checkGrade(product?.grade)">
                  {{product?.grade}}
                </span>
              </span>
            </h4>

            <div id="question-accordions" class="custom-accordion-arrow seller_questions_list">
              <div *ngIf="showEdit">
                <div class="condition-row" *ngFor="let question of questionsList; let j = index;">
                  <div class="condition-box">
                    <!-- <div class="condition">


                      </div> -->
                    <div class="condition-button" *ngIf="question?.type === 'yes-no-without-options'">
                      <h3 class="question-line">{{translate?.getDefaultLang() == 'ar' ?
                                                question?.question_ar : question?.question_en}}
                      </h3>

                      <a *ngFor="let answer of question?.answers; let i = index;" (click)="selectAnswer(i , j ,answer)">
                        <div class="square-div" [ngClass]="{'selected-button': answer?.selected}">
                          {{translate?.getDefaultLang() == 'ar' ? answer?.answer_ar :
                                                    answer?.answer_en}}</div>
                      </a>

                    </div>
                    <div class="condition-button" *ngIf="question?.type === 'dropdown'">
                      <h3 class="question-line">{{translate?.getDefaultLang() == 'ar' ?
                                                question?.question_ar : question?.question_en}}
                      </h3>

                      <a *ngFor="let answer of question?.choices; let i = index;"
                        (click)="selectAnswerA(i , j ,answer)">
                        <div class="square-div" [ngClass]="{'selected-button': answer?.selected}">
                          {{translate?.getDefaultLang() == 'ar' ? answer?.option_ar :
                                                    answer?.option_en}}</div>
                      </a>

                    </div>

                    <div class="condition-button" *ngIf="question?.type === 'yes-no-with-options'">
                      <h3 class="question-line">{{translate?.getDefaultLang() == 'ar' ?
                                                question?.question_ar : question?.question_en}}
                      </h3>

                      <a *ngFor="let answer of question?.answers; let i = index;">
                        <div class="square-div" (click)="selectAnswerCho(i , j ,answer)"
                          [ngClass]="{'selected-button': answer?.selected}">
                          {{translate?.getDefaultLang() == 'ar' ? answer?.answer_ar :
                                                    answer?.answer_en}}</div>

                      </a>

                      <div *ngIf="question?.answers[0]?.selected && question?.answers[0]?.answer_ar == 'نعم'">


                        <div class="products-row products-cursor">
                          <div class="row products-home">
                            <div class="col-6" *ngFor="let choice of question?.answers[0].sub_choices; let k = index;">
                              <div class="products-box" (click)="selectAnswerChoice(0 , j , k)">
                                <div class="products-top" [ngClass]="{'selected-button': choice?.selected}">
                                  <div class="price-bar">
                                    <div>
                                      <div>
                                        <span class="f-price font-color-primary">
                                          <img height="50px" src={{choice?.icon}}>
                                          <br>
                                        </span>
                                        <span class="o-price">
                                          {{translate?.getDefaultLang() ==
                                                                                    'ar' ? choice?.option_ar :
                                                                                    choice?.option_en}}

                                        </span>

                                      </div>
                                    </div>

                                  </div>

                                </div>

                              </div>
                            </div>
                            <!-- Col-6 End-->

                          </div>

                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
              <div *ngIf="!showEdit">
                <div class="card" *ngFor="let ques of productListQuestions; let i = index;">
                  <a [href]="'#question-collapse'+i" class="collapsed" data-toggle="collapse" aria-expanded="false"
                    aria-controls="question-collapseOne">
                    <div class="card-header" id="question-headingOne">
                      <h5 class="font-size-14 m-0">
                        <i class="accor-arrow-icon">{{'productsDetails.sellerQuestions' |
                                                    translate}}
                          {{i+1}}.</i> {{translate?.getDefaultLang() == 'ar' ?
                                                ques?.question_ar : ques?.question_en}}
                      </h5>
                    </div>
                  </a>
                  <div [id]="'question-collapse' + i" class="collapse" aria-labelledby="question-headingOne"
                    data-parent="#question-accordion">
                    <div class="card-body">
                      <div class="question-box table-responsive">
                        <table class="table mb-0">
                          <!-- <thead class="thead-light">
                             <tr>
                               <th>{{'productsDetails.sellerAnswer' | translate}}</th>
                             </tr>
                           </thead> -->
                          <tbody>
                            <tr>

                              <td style="width: 65px;" class="answer-bg">
                                {{'productsDetails.sellerAnswer' | translate}}
                              </td>
                              <td class="answer" data-title="{{'productsDetails.sellerAnswer' | translate}}">
                                <div *ngIf="ques?.question_type != 'dropdown' && ques?.answers[0]">

                                  {{translate?.getDefaultLang() == 'ar' ?
                                                                    ques?.answers[0].answer_ar :
                                                                    ques?.answers[0].answer_en}}
                                </div>
                                <div
                                  *ngIf="ques?.question_type == 'yes-no-with-options' && ques?.answers[0]  && ques?.answers[0].sub_choices.length > 0">
                                  <span *ngFor="let choice of ques?.answers[0].sub_choices">
                                    {{translate?.getDefaultLang() == 'ar' ?
                                                                        choice.option_ar : choice.option_en}}
                                    <br>
                                  </span>

                                </div>
                                <div *ngIf="ques?.question_type == 'dropdown' && ques?.choices[0]">
                                  {{translate?.getDefaultLang() == 'ar' ?
                                                                    ques?.choices[0].option_ar :
                                                                    ques?.choices[0].option_en}}
                                </div>
                                <div *ngIf="ques?.question_type == 'dropdown' && !ques?.choices[0]" class="higlighted">
                                  {{'productsDetails.needAnswer' | translate}}
                                </div>

                                <div class="higlighted" *ngIf="ques?.question_type != 'dropdown' && !ques?.answers[0]">
                                  {{'productsDetails.needAnswer' | translate}}
                                </div>
                              </td>

                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" *ngIf="product?.answer_to_questions?.length">
        <div class="card" style="height: 100%;">
          <div class="card-body pt-3 show_detail">
            <h4 class="card-title mb-4">{{'productsDetails.sellerQuestionsList' | translate}}</h4>
            <div id="question-accordions" class="custom-accordion-arrow seller_questions_list">
              <div class="card" *ngFor="let questionAnswer of product?.answer_to_questions; let i = index;">
                <a [href]="'#question-collapse'+i" class="collapsed" data-toggle="collapse" aria-expanded="false"
                  aria-controls="question-collapseOne">
                  <div class="card-header" id="question-headingOne">
                    <h5 class="font-size-14 m-0">
                      <i class="accor-arrow-icon">{{'productsDetails.sellerQuestions' |
                                                translate}}
                        {{i+1}}.</i>{{questionAnswer?.question}}
                    </h5>
                  </div>
                </a>
                <div [id]="'question-collapse' + i" class="collapse" aria-labelledby="question-headingOne"
                  data-parent="#question-accordion">
                  <div class="card-body">
                    <div class="question-box table-responsive">
                      <table class="table mb-0">
                        <!-- <thead class="thead-light">
                            <tr>
                              <th>{{'productsDetails.sellerAnswer' | translate}}</th>
                            </tr>
                          </thead> -->
                        <tbody>
                          <tr>
                            <td style="width: 65px;" class="answer-bg">
                              {{'productsDetails.sellerAnswer' | translate}}
                            </td>
                            <td class="answer" data-title="{{'productsDetails.sellerAnswer' | translate}}">
                              {{questionAnswer?.answer}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row order-detail-page product-detail-page">

      <div class="col-md-12">
        <div class="card">
          <div class="card-body pt-3">
            <h4 class="card-title mb-3">{{'productsDetails.sellerDetails' | translate}}</h4>
            <ul class="user-info">
              <li><strong>{{'productsDetails.sellerName' | translate}}</strong>
                <span class="seller_name"
                  [routerLink]="['/admin/users/user-details', product?.sellerData?._id]">{{product?.sellerData?.name}}</span>
              </li>
              <!-- <li><strong>Email ID</strong>simona@morasca.com	</li> -->
              <li *ngIf="product?.sellerData?.mobileNumber">
                <strong>{{'productsDetails.sellerPhone' | translate}}</strong>
                {{product?.sellerData?.mobileNumber}}
              </li>
            </ul>
          </div>
        </div>
      </div>




    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8" *ngIf="product?.product_questions?.length">
        <div class="card" style="height: 100%;">
          <div class="card-body pt-3 show_detail">
            <h4 class="card-title mb-4">{{'productsDetails.sellerCommentsList' | translate}}</h4>
            <div id="question-accordions" class="custom-accordion-arrow seller_questions_list">
              <div class="card" *ngFor="let questionAnswer of product?.product_questions; let i = index;">
                <a [href]="'#question-collapse'+i" class="collapsed" data-toggle="collapse" aria-expanded="false"
                  aria-controls="question-collapseOne">
                  <div class="card-header" id="question-headingOne">
                    <h5 class="font-size-14 m-0">
                      <i class="accor-arrow-icon">{{'productsDetails.sellerComments' | translate}}
                        {{i+1}}.</i>{{questionAnswer?.question}} <i style="float:right" (click)="action(questionAnswer)"
                        class="fa fa-trash"></i>
                    </h5>
                  </div>
                </a>
                <div [id]="'question-collapse' + i" class="collapse" aria-labelledby="question-headingOne"
                  data-parent="#question-accordion">
                  <div class="card-body">
                    <div class="question-box table-responsive">
                      <table class="table mb-0">
                        <!-- <thead class="thead-light">
                            <tr>
                              <th>{{'productsDetails.sellerAnswer' | translate}}</th>
                            </tr>
                          </thead> -->
                        <tbody>
                          <tr>
                            <td style="width: 65px;" class="answer-bg">
                              {{'productsDetails.sellerAnswer' | translate}}
                            </td>
                            <td class="answer" data-title="{{'productsDetails.sellerAnswer' | translate}}">
                              {{questionAnswer?.answer}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- end row -->

    <br />
    <app-images-section [productId]="productId"></app-images-section>
  </div>
  <!-- container-fluid -->

  <!-- Add image modal -->
  <div id="add-image" class="modal fade add_detail" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0">Upload images</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label class="control-label">
                  Choose images
                </label>
                <div class="custom-file">
                  <input type="file" accept="image/*" id="fileInput" class="custom-file-input" size="3" (change)="onImageSelect($event)" multiple>
                  <label for="fileInput" class="custom-file-label">
                    {{ selectedImages.length > 0 ? selectedImages.length + (selectedImages.length === 1 ? ' File' : ' Files') + ' selected' : 'Choose Files' }}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-warning" type="submit" data-dismiss="modal" (click)="saveProductImages()">
            Save Images
          </button>
        </form>
        <!-- Image Grid Start -->
        <div class="row mt-3">
          <div class="col-md-4" *ngFor="let image of selectedImages">
            <div class="card">
              <img class="card-img-top" [src]="getImageUrl(image)" alt="Selected Image">
              <div class="card-body">
                <p class="card-text">{{ image.name }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Image Grid End -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END: Add image modal -->

  <!-- Add REGA Link modal -->
  <div id="add-rega-link" class="modal fade add_detail" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mt-0">{{regaLinkTypeAction === "Add" ? "Add REGA License" : "Edit REGA License"}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="regaFormProduct" (ngSubmit)="saveRegaLinkForProduct()">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="control-label">
                    Enter REGA License*
                  </label>
                  <div>
                    <textarea type="text" class="form-control" placeholder="Enter link" formControlName="regaProductlink"></textarea>
                    <div *ngIf="regaFormProduct.get('regaProductlink').touched && regaFormProduct.get('regaProductlink').invalid || regaFormProduct.get('regaProductlink').dirty">
                      <span class="error-message" *ngIf="regaFormProduct.get('regaProductlink').errors?.required">URL is required.</span>
                      <span class="error-message" *ngIf="regaFormProduct.get('regaProductlink').errors?.invalidUrl && !regaFormProduct.get('regaProductlink').errors?.required">URL is invalid, Please try again.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button [ngClass]="{ 'btn btn-addRegaQRLink': regaFormProduct.valid, 'btn btn-addRegaQRLink-disable': regaFormProduct.invalid }" type="submit" [disabled]="regaFormProduct?.invalid">
              {{regaLinkTypeAction === "Add" ? "Add" : "Edit"}}
            </button>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- END: Add image modal -->


    <!-- Add PDF Link modal -->
    <div id="pdf-rega-link" class="modal fade add_detail" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mt-0">{{pdfLinkTypeAction === "Add" ? "Add a Guarantees PDF Link" : "Edit a Guarantees PDF Link"}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="pdfFormProduct" (ngSubmit)="savePdfLinkForProduct()">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="control-label">
                      Enter Guarantees PDF Link*
                    </label>
                    <div>
                      <textarea type="text" class="form-control" placeholder="Enter link" formControlName="guaranteesUrl"></textarea>
                      <div *ngIf="pdfFormProduct.get('guaranteesUrl').touched && pdfFormProduct.get('guaranteesUrl').invalid || pdfFormProduct.get('guaranteesUrl').dirty">
                        <span class="error-message" *ngIf="pdfFormProduct.get('guaranteesUrl').errors?.required">URL is required.</span>
                        <span class="error-message" *ngIf="pdfFormProduct.get('guaranteesUrl').errors?.invalidUrl && !pdfFormProduct.get('guaranteesUrl').errors?.required">URL is invalid, Please try again.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button [ngClass]="{ 'btn btn-addRegaQRLink': pdfFormProduct.valid, 'btn btn-addRegaQRLink-disable': pdfFormProduct.invalid }" type="submit" [disabled]="pdfFormProduct?.invalid">
                {{pdfLinkTypeAction === "Add" ? "Add" : "Edit"}}
              </button>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- END: Add image modal -->

  <div class="modal fade change_price show" id="change-price" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mt-0">{{'productsDetails.editProduct' | translate}}</h5>
          <button type="button" class="close" (click)="closeModal('change-price')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 *ngIf="showMsgActiveBid" class="msg_alert_editPrice">{{'productsDetails.rejectSoumFirst' | translate}}</h5>
          <h5 *ngIf="showMsgExpiredProduct" class="msg_alert_editPrice">This product has expired, please renew the product to be able to edit</h5>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

</div>
