<div class="content">
    <div class="back-bar margin-bottom">
        <div class="container"><a class="back-button" (click)="back()"><img alt="back" [src]="'' | imagePath: 'icons'"></a>
        </div>
    </div>
    <div class="section_login">
        <div class="container container-padding" [formGroup]="resetPasswordForm">
            <div class="login-bar">
                <div class="logos">
                    <img [src]="'en-logo.png' | imagePath: 'icons'" alt="color-logo" class="color-logo en-logo">
                    <img [src]="'ar-logo.png' | imagePath: 'icons'" alt="color-logo" class="color-logo ar-logo">
                </div>
                <p class="sub-title">{{'changePassword.enterNewPassword' | translate}}</p>
                <div class="detail-col password-field">
                    <input [type]="password ? 'text' : 'password'" maxlength="25" id="password" name="password"
                        formControlName="newPassword" [placeholder]="'changePassword.newPassword' | translate">
                    <div class="input-icon"><img alt="password" [src]="'password-icon.svg' | imagePath: 'icons'"> </div>
                    <div class="input-group-append password-show" (click)="showPassword('password')">
                        <span class="bg-white border-0 input-group-text">
                            <span class="soum-icon" [ngClass]="password ? 'ca-eye-open' : 'ca-eye'"></span>
                        </span>
                    </div>
                </div>
                <p class="error-msg"
                    *ngIf="resetPasswordForm?.controls['newPassword']?.value && resetPasswordForm?.controls['newPassword']?.invalid">
                    {{'changePassword.invalidPassword' | translate}}<br>
                  
                </p>
                <div class="detail-col password-field">
                    <input [type]="confirmPassword ? 'text' : 'password'" maxlength="25" id="confirm-password"
                        formControlName="confirmPassword" name="password"
                        [placeholder]="'changePassword.confirmPassword' | translate">
                    <div class="input-icon"><img alt="password" [src]="'password-icon.svg' | imagePath: 'icons'"> </div>
                    <div class="input-group-append password-show" (click)="showPassword('cPassword')">
                        <span class="bg-white border-0 input-group-text">
                            <span class="soum-icon" [ngClass]="confirmPassword ? 'ca-eye-open' : 'ca-eye'"></span>
                        </span>
                    </div>
                </div>
                <p class="error-msg"
                    *ngIf="resetPasswordForm?.controls['confirmPassword']?.value && resetPasswordForm?.controls['newPassword']?.value !== resetPasswordForm?.controls['confirmPassword']?.value">
                    {{'changePassword.passwordDoesNotMatch' | translate}}
                </p>
                <div class="button-login">
                    <button type="button" name="submit" class="submit"
                        [disabled]="resetPasswordForm?.invalid || resetPasswordForm?.controls['newPassword']?.value !== resetPasswordForm?.controls['confirmPassword']?.value"
                        (click)="resetPassword()">{{'changePassword.submit' | translate}} <img alt="back" 
                            [src]="'arrow-send.svg' | imagePath: 'icons'"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--content-->