
<div class="first-bar">
    <p class="sub-title step1">{{'forgotPassword.step3' | translate}}</p>
    <p class="sub-title mobileCode">{{'signUp.setPasswordAndName' | translate}}</p>
</div>
<div class="content">


    <div class="section_login">
        
        <div class="container container-padding" [formGroup]="signupForm">
          
            <mat-form-field class="example-full-width"  appearance="fill">
                <mat-label>  {{'signUp.enterName' | translate}}</mat-label>
                <input matInput   type="text" id="name" formControlName="name" name="name" >
              </mat-form-field>
              <p class="error-msg"
              *ngIf="signupForm?.controls['name']?.value && signupForm?.controls['name']?.invalid">
              {{'signUp.invalidName' | translate}}
          </p>

            <div class="login-bar input-bar-box">  

                <div >
                    <button type="button" name="submit" class="submit button-sign-up"
                    [disabled]="signupForm?.invalid"
                    (click)="doSignup()">
                    {{'changePassword.submit' | translate}}
                    </button>
                </div>
        
                <div class="logos">
                    <img [src]="'en-logo.png' | imagePath: 'icons'" alt="color-logo" class="color-logo en-logo">
                    <img [src]="'ar-logo.png' | imagePath: 'icons'" alt="color-logo" class="color-logo ar-logo">
                </div>
            </div>
        </div>
    </div>
</div>