.input-bar-box .input-text-bar {
    text-align: center;
    margin-top: 20px;
}
.login-bar .logos .color-logo {
    height: 40px !important;
    margin-top: 20px;
  }
  .button-sign-up {
    font-size: 22px;
    width: calc(100% - 0px) !important;
    border-radius: 30px;
    background: #177ae2 !important;
    padding: 15px;
    margin-top: 40px;
  }
  
.content {
    height: 100%;
    min-height: 100vh;
    background: #fff;
    display: block;
    border-radius: 15px;
    bottom: 15px;


    padding-top: 0px !important;
}

div.otp-input {
    margin-top: 20px;
    position: relative;
}

div.otp-input   span {
    position: absolute;
    border-radius: 4px;
    border: 1px solid #c5c5c5;
    height: 45px;
    left: 0px;
    width: 45px;
    top: 0px;
}

div.otp-input .otp_input {
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 30px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid;
    /* background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%); */
    background-position: bottom;
    background-size: 51px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 300px;
    height: 45px;
    outline: none;
}
.step1{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
}
.first-bar{

    padding: 20px;
    background-color: #177AE2;
 
    padding-top: 100px;
    color: #ffffff
}
.onetime{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.mobileCode{
    padding: 10px 0px 10px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 35px;
}
div.otp-input .otp_input::placeholder {letter-spacing: 30px;text-align: center;}
.example-full-width {
    width: 333px;
  }