<div class="content">
    <app-header [pageTitle]="'profile.privacy_policy' | translate" (goBack)="goBack()"></app-header>

    <div class="enter-detail privacy-policy">
        <h3>تقييم المنتجات: </h3>
        <ul>
            <li>جميع البضائع المعروضة على منصة سوم يتم تقييمها وفق منهجية خاصة لتحديد فئة البضاعة (عالية الاستخدام،
                متوسطة
                الاستخدام، خفيفة الاستخدام).
            </li>
            <li>تقييم المنتج هو أحد الأدوات التي يتم استعمالها لخدمة المستخدم واتمام عملية الشراء وليست ضمان للمنتج.
            </li>
        </ul>
        <h3>الدفع: </h3>
        <ul>
            <li>يمكن للمشتري شراء البضاعة المعروضة مباشرة ودفع المبلغ المطلوب للبدء بإجراءات عملية الشراء والتوصيل.
            </li>
            <li>يمكن للمشتري المزايدة على البضاعة وعند موافقة البائع على السعر يجب على المشتري دفع المبلغ المحدد خلال
                مدة 3
                ساعات أو تلغى عملية المزايدة.
            </li>
            <li>يتم الاحتفاظ بالمبلغ المرصود للبضاعة لدى منصة سوم إلى أن تتم عملية البيع وتأكيد المشتري لمطابقة البضاعة
                للمواصفات المحددة.
            </li>
            <li>في حال تم تأكيد عملية الشراء وعدم وجود ملاحظات من قبل المشتري يتم تحويل المبلغ إلى حساب البائع.
            </li>
            <li>في حال عدم تأكيد عملية الشراء من قبل المشتري يتم تحويل المبلغ للبائع بعد 24 ساعة من استلام المشتري
                للبضاعة
                بشكل آلي.
            </li>
            <li>السعر المعروض للبضاعة شامل لتكاليف التوصيل وضريبة القيمة المضافة وعمولة الموقع.
            </li>
        </ul>
        <h3>التوصيل: </h3>
        <ul>
            <li>تتحمل سوم تكاليف التوصيل بشكل كامل.
            </li>
            <li>عند بدء عملية البيع سيتم مشاركة وثيقة التوصيل للبائع ويجب على البائع طباعتها وتوفيرها لشركة التوصيل عند
                استلامهم البضاعة.
            </li>
            <li>يمكن للمشتري متابعة تحديث عملية التوصيل من خلال صفحة الطلب.
            </li>
        </ul>
        <h3>سياسة الاسترجاع: </h3>
        <ul>
            <li>في حال ادعاء المشتري وجود اختلاف بين البضاعة المستلمة والبضاعة المعروضة يتم التأكد من قبل سوم وعند تأكيد
                وجود اختلاف يتم إعادة البضاعة إلى البائع وتتحمل سوم تكاليف التوصيل.
            </li>
            <li>لا يمكن للمشتري طلب استرجاع المبلغ بعد البدء بعملية البيع ومطابقة البضاعة المستلمة مع المواصفات.
            </li>
            <li>في حال البدء بعملية البيع وتوصيل البضاعة للمشتري لا يمكن للبائع المطالبة باسترجاع البضاعة.
            </li>
        </ul>
        <h3>سياسة سرية المعلومات: </h3>
        <ul>
            <li>التسجيل في سوم موافقة لمشاركة المعلومات المطلوبة ليتمكن المستخدم من البيع والشراء.
            </li>
            <li>المعلومات المطلوبة من قبل المنصة هي اسم المستخدم، كلمة مرور، رقم الجوال، البريد الإلكتروني.
            </li>
            <li>يتم طلب المعلومات البنكية والعنوان السكني عند البدء بعملية الشراء أو البيع.
            </li>
        </ul>
        <h3>سياسات عامة: </h3>
        <ul>
            <li>التسجيل في سوم موافقة على أن المستخدم مؤهل قانونيًا لإتمام عملية البيع والشراء.
            </li>
            <li>عرض البائع للبضاعة إقرار على ملكيته وحقه في بيعها.
            </li>
            <li>يتم التواصل بين البائع والمشتري من خلال منصة سوم فقط ولا يمكن للبائع أو المشتري طلب بيانات التواصل مع
                الطرف
                الآخر.
            </li>
            <li>في حال وجود استفسارات تخص المنتج يمكن للمشتري الاستفسار من خلال المنصة.
            </li>
            <li>البائع مسؤول عن توافر البضاعة خلال فترة عرضها على المنصة واتباع الإجراءات لإتمام عملية البيع.
            </li>
            <li>يجب على البائع حذف البضاعة المعروضة في حال عدم توافرها
            </li>
            <li>يجب على البائع تقديم الدعم المتعلق بالبضاعة خلال 24 ساعة من عملية استلام المشتري للبضاعة.
            </li>
            <li>يجب على البائع إعادة ضبط المصنع على البضائع قبل البدء بعملية البيع، كما أن سوم ليست مسؤولة عن ضمان عدم
                وصول
                المعلومات والبيانات المخزنة بالبضائع المباعة للمشتري.
            </li>
            <li>يجب على البائع والمشتري ابلاغ سوم في حال الشك بوجود تلاعب من قبل الطرف الآخر. </li>
        </ul>
        <h3>الشروط والأحكام الخاصة ببرنامج المكافئات: </h3>
        <ul>
            <li>يتم تحويل مبلغ 100 ريال لكل عملية صحيحة.
            </li>
            <li>يتم تحويل المكافئة على الحساب البنكي الذي يفضله العميل.
            </li>
            <li>يحق للعميل الحصول على أكثر من مكافئة بدون حد أعلى.
            </li>

            <li>لا ينطبق العرض في حال كان المشترى (مستخدم الكود) علي معرفة بالمنصة سابقا.
            </li>
            <li>لا يحق للعميل المطالبة بالمكافئة في حال تعثر العملية.
            </li>
            <li>لا يحق للعميل استخدام الكود لنفسه من خلال التسجيل من خلال رقم اخر يمتلكه هو أو أحد
                أفراد عائلته أو اصدقائه.
            </li>
            <li>يحق شركة سوم عدم تحويل المكافئة في حال الشك بالتلاعب ولا يجب على سوم اثبات ذلك
                بالدليل القطعي.
            </li>
        </ul>
    </div>
</div>