footer.footer-buttons .button {
  padding: 5px 20px;
}
footer.details-buttons .button {
  padding: 5px 20px;
}
.left {
  float: right;
}
.detail-size{
//  float: right;
text-align: right;
}
.icon-no-add-width{
  float:right
}
.div-card , .div-card-message , .div-card-support{
  text-align: right;
  direction: rtl;
}
.bold-font , .bold-text , .bold-text-normal ,.label-class , .price ,.section_title{
  text-align: right;
}
mat-card{
  text-align: right;
 
}
.right {
  float: left;
}

// #selectlanguage.active .dropdown-menu {
//     left: 5px;
//     right: auto;
// }

.bottom-bar h1 {
  text-align: right;
}

.sort-box a {
  float: right;
  direction: rtl;
}

.section-filter .title-box h2 {
  order: 2;
  text-align: right;
}

.sort-box .no-model {
  text-align: right;
  display: inline-block;
  width: 100%;
}

.section-filter.rangeslider .ngx-slider .ngx-slider-bubble {
  float: right;
}

.fix-button .clear-button {
  float: right !important;
  margin-left: 14px;
  margin-right: 0px !important;
}

.fix-button .apply-button {
  margin-right: 15px;
  float: left !important;
  margin-left: 0px !important;
  background-color: #177AE2 !important;
}
.device-memory-row {
  direction: rtl !important;
}
.back-button img {
  transform: rotateZ(180deg);
}
.section_style {
  text-align: right !important;
  font-family: "DIN Next LT Arabic Medium", sans-serif;
}
.back-bar .back-button {
  left: auto;
  right: 15px;
}

.products-bottom .button-final {
  margin-right: 0;
  margin-left: 3px;
  float: left;
  width: 95%;
}

.products-bottom .button2 {
  margin-left: 0;
  margin-right: 3px;
  float: left;
}

.title {
  text-align: right;
}

.nav-fixe ul {
  direction: rtl;
}

// .detail-col input {
//     padding: 10px 65px 10px 10px;
// }

.input-text-bar {
  // text-align: left !important;
  text-align: right !important;
  max-width: 100% !important;
  display: inline-block !important;
  width: 100%;
}

.center-text {
  text-align: center !important;
}

// .detail-col input#number {
//     padding-right: 70px;
//     padding-left: 0px;
// }

.ng-otp-input .wrapper {
  direction: rtl;
}

// .button-login .submit {
//     direction: rtl;
// }

.product-thumbnail {
  direction: rtl;
}

// .detail-col input#number {
//     padding-right: 70px;
//     padding-left: 15px;
// }

.error-msg {
  text-align: right;
}

// .detail-col .input-icon {
//     left: auto !important;
//     right: 0px;
//     border-left: 1px solid #d4d4d4 !important;
//     border-right: 0;
// }

// .detail-col input {
//     float: right;
//     text-align: right;
// }

// .detail-col input::placeholder {
//     text-align: right !IMPORTANT;
// }

// .password-show {
//     right: auto;
//     left: 2px;
// }

.popup-inner .sar-input-field .number {
  order: 2;
  border-right: 0;
  border-left: 1px solid #c2c2c2;
  text-align: right;
}

.popup .popup-inner .popup-close {
  left: 15px;
  right: auto;
}

.popup-inner .products-bottom-bar .products-bottom .button {
  order: 3;
}

.popup-inner .products-bottom-bar .products-bottom .button02 {
  order: 1;
}

.popup-inner .products-bottom-bar .products-bottom b {
  order: 2;
}

.payment-section .popup-inner .popup-close {
  left: 50%;
  transform: translatex(-50%);
  right: auto;
}

.payment-section .popup-inner {
  direction: rtl;
}

.select-address .location-icon {
  margin-left: 9px;
  margin-right: 0;
}

.payment-box .products-thumbnail {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}

.cart-totals table td,
.payment-section .section-details,
.products-list .product-info .product-title,
.products-list .product-info .product-available {
  text-align: right;
}

.wishlist-button {
  float: left;
  margin-right: 11px;
  margin-left: 0;
}

.products-list .product-info .right .plus-text {
  order: 2;
}

// .place-order .order-button .place_order img {
//     // margin-bottom: 0px;
//     // margin-left: 0;
//     // margin-right: 6px;
//     // float:right;
// }
.place-order .order-button .place_order {
  direction: ltr;
}

.place-order .order-button .f-price {
  border-left: 1px solid #ffffff5e;
  border-right: 0;
  padding-right: 0;
  margin-right: 0;
  padding-left: 10px;
  margin-left: 10px;
}

.products-list .products-thumbnail {
  float: left;
  margin-right: 0;
  margin-left: 15px;
}

.back-bar .ask-button {
  right: auto;
  left: 15px;
}

.section_title {
  text-align: right;
}

.section-details ul li {
  text-align: right;
  padding-right: 17px;
  padding-left: 0;
}

.tab-wish-list .product-info .left,
.products-list .product-info .product-title {
  direction: rtl;
}

.section-details ul li:before {
  left: auto;
  right: 0;
}

.questions-send .ask-question {
  text-align: end;
  border-radius: 0 !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  order: inherit;
}

.button_profile {
  float: left;
}

.user-info {
  text-align: right;
}

.your-details .user-info .user_information img {
  float: right;
  margin-right: 0;
  margin-left: 3px;
}

.error-profile {
  text-align: right;
  width: 100%;
}

.tag-box .tag {
  text-align: right;
}

// .fix-button-new .send_button {
//     direction: rtl;
// }

// .fix-button-new .send_button img {
//     margin-left: 0;
//     margin-right: 7px;
// }

.more_information ul li {
  padding-right: 0px;
}

.user_name_edit .name_edit {
  order: 2;
  text-align: right;
  margin-left: 10px;
  margin-right: 0 !important;
}

.user_name_edit {
  justify-content: flex-end;
}

.button_delete {
  float: left;
}

.my-addresses .user-address {
  order: 2;
  p {
    direction: rtl !important;
  }
}

.show-address .user-address .address_detail{
  direction: rtl;
}

.error-profile-full {
  width: 100%;
}

.card-info .card-number {
  order: 2;
  justify-content: flex-end;
}

.card-number span {
  margin-left: 15px;
  margin-right: 0;
}

.card-info .card-number img {
  order: 2;
  margin-left: 18px;
  margin-right: 0;
}

.button_password {
  text-align: right;
}

.button_password img {
  float: right;
  margin-left: 9px;
  margin-right: 0;
}
.section-details-q ul li .d-answer {
  padding-right: 30px !important;
  padding-left: 0 !important;
  direction: rtl;
}

.section-details-q ul li .d-answer:before {
  right: -4px !important;
  left: auto !important;
  transform: rotate(-135deg) !important;
}

.section-details-q ul.m-00 li strong {
  margin-left: 5px;
  float: right;
  direction: rtl;
}

.questions-box h4 {
  text-align: right !important;
}

.questions-box .user-info .user-name {
  text-align: right;
}

.questions-box .user-info {
  justify-content: flex-end;
}

.questions-box p {
  text-align: right !important;
}


.selected-photos-box {
  float: right !important;
  margin-left: 8px !important;
  margin-right: 0 !important;
}

.device-sell-box {
  margin-right: 0 !important;
  margin-left: 20px !important;
  float: right !important;
}

.device-sell-box:nth-child(2n) {
  margin-left: 0px !important;
}
.cancel-button {
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */



/* Secondary green */

color: #31CDCD !important;
  float: left;
}
.select-brand-box {
  margin-right: 0px !important;
  margin-left: 18px !important;
}

.select-brand-box:nth-child(2n) {
  margin-left: 18px !important;
}

.select-brand-box:nth-child(3n) {
  margin-left: 0px !important;
}

.select-model-box {
  margin-right: 0 !important;
  margin-left: 5px !important;
  float: right !important;
}

.select-model-row2 {
  display: inline-block !important;
}
.device-memory-box-expired {

  float: right !important;
  font-weight: bold !important;
  font-size: 18px;

}
.device-memory-box {
  margin-left: 18px !important;
  margin-right: 0 !important;
  float: right !important;
  font-weight: bold !important;
  font-size: 18px;

}

.device-memory-box:nth-child(3n) {
  margin-left: 0px !important;
}

.device-memory-box span {
  direction: rtl;
}

.section-description .section_title {
  text-align: right !important;
  direction: rtl;
}

.description-row .input-field input {
  order: 2;
  text-align: right;
  border-left: 1px solid #c2c2c2 !important;
  border-right: 0 !important;
}

.section-description .description-row p,
.expiration_date,
.notes {
  text-align: end;
}

.description-row .textarea-field textarea,
.tab-wish-list .product-info .product-title,
.payment-box .product-available {
  text-align: right;
}

.choose_address {
  text-align: right;
}

.address_list_box .radio-box span:before {
  left: 5px;
  right: auto;
}

.address_list_box .radio-box span {
  text-align: right;
  padding-right: 0px;
  padding-left: 30px;
}

.price .d-text {
  font-size: 12px;
}

.card_details .col50 {
  float: right;
  width: calc(55% - 8px);
}

.profile-login .tab-bar ul {
  direction: rtl;
}

.address_list_box .labe-repeat {
  direction: rtl;
}

.address_list_box .radio-box address {
  padding-left: 28px;
  padding-right: 0;
}

.address_list_box .radio-box span:after {
  left: 0px;
  right: auto;
}

.payment-box .select-address select {
  background-position: left center;
}

.shipping-address .user-address p,
.shipping-address .user-address .username {
  text-align: right;
  margin-left: auto;
  font-family: 'DIN Next LT Arabic', sans-serif;
}

.tab-wish-list .product-info .left {
  order: 2;
}

.tab-wish-list .products-bottom .left .price-buttons {
  order: 2;
  margin-right: 0px;
  margin-left: 15px;
}

.tab-wish-list > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.heavily-products {
  border-left: none;
  border-right: 4px solid $red-color;
}

.lightly-products {
  border-left: none;
  border-right: 4px solid $yellow-color;
}

.excellent-products {
  border-left: none;
  border-right: 4px solid $primary-color;
}

div#sells-content .plus-text span {
  margin-left: 0px;
}

.price-bar .price,
.price-bar .price *,
.products-bottom .price,
.products-bottom .price * {
  text-align: right !important;
}

// .sell-content .plus-text {
//     direction: rtl;
// }
.bought-Sold .payment-box .product-price {
  text-align: right !important;
}

.bought-Sold .right .order-right {
  order: 2;
  padding-left: 25px;
  padding-right: 0;
  text-align: end;
}

.bought-Sold .order_button img {
  transform: rotateZ(180deg);
}

.tracking-product .products-thumbnail {
  order: 2;
}

.tracking-product .products-content {
  padding-right: 10px;
  padding-left: 0;
}

.tracking-product .products-content * {
  text-align: right !important;
}

.processing-order .processing-list {
  order: 2;
}

.processing-order .box-delivery {
  margin-right: 20px;
  margin-left: 0;
}

.delivery-confirmed {
  direction: rtl;
}

.delivery-confirmed .massage .soum-icon {
  margin-right: 0;
  margin-left: 5px;
}

.shipping-address .no-fix-button .clear-button {
  margin-right: 8px !important;
  margin-left: 0px;
}

.shipping-address .no-fix-button .order_details_button {
  margin-left: 8px !important;
  margin-right: 0px !important;
}

.processing-list li:before {
  left: auto;
  right: 0px;
}

.processing-list li {
  padding-right: 43px;
  padding-left: 0;
  text-align: right;
}

.processing-list li:after {
  right: 12px;
  left: auto;
}

.section-order-details .section_title .invoice-download {
  float: left;
}

.order-details table {
  direction: rtl;
}

.order-details table td,
.order-summary-table tr:last-child .grand-total {
  text-align: right;
}
.grade-class{
  float:left;
}
.cart-total-includes .alert-message table {
  direction: rtl;
}

.select_cards .wpwl-brand-icon {
  float: right;
}

.select_cards {
  direction: rtl;
}

.select_cards .control-brand {
  padding-right: 10px;
}

.payment-card,
.all-bid-list .table {
  direction: rtl;
}

#allbid-popup .bid-title {
  left: auto !important;
  right: 15px;
}

.select_cards_detail input {
  padding-right: 80px !important;
  padding-left: 0 !important;
}

.select_cards_detail .input-icon {
  border-left: 0px !important;
  padding-left: 0px !important;
  padding-right: 5px !important;
}

// invoice-box
//  .invoice-box {
//      width: 850px;
//      direction: rtl;
//  }

//  .invoice-box .text-sm-left {
//      text-align: right !important;
//  }

//  .invoice-box .text-sm-right {
//      text-align: left !important;
//  }

// .invoice-box  .text-right {
//     text-align: left !important;
// }
//  .invoice-box td,
//  .invoice-box th {
//      text-align: right;
//  }

.tracking-processing p {
  text-align: right;
}

.tracking-product .products-content .order-id {
  order: 2;
}

.tracking-product .products-content .order_details_button {
  text-align: center !important;
  margin-right: 0px;
  margin-left: 20px;
}

.button sub {
  font-size: 9px;
}

.button .p-text {
  font-size: 14px;
  font-weight: bold;
}
.button .p-text-font {
  font-size: 11px;
}
.skipped{
float: right!important;
}
.button-next{
  border-radius:  0px 20px 20px 0px !important;
  float: left;
}
.mat-form-field{
  text-align: right !important;
  direction: rtl !important;

}
.tab-bar ul {
  direction: rtl;
}

.tag-box a:last-child {
  margin-right: 8px;
}

.description-row .input-field .sar-text {
  font-size: 9px !important;
}

.description-row .input-field {
  width: 100%;
}

.invoice-box th:last-child {
  width: 100px !important;
}

.section-description .section_title .information {
  margin-bottom: 5px;
  float: left;
}

.payment_options .card-d {
  padding-left: 0px;
  padding-right: 45px;
}

.payment_options .card-d .card-inner .wpwl-brand-icon {
  float: right;
}

.payment_options .card-d:before {
  left: auto;
  right: 6px;
}

.payment_options .card-d:after {
  right: 0px;
  left: auto;
}

@media screen and (max-width: 320px) {
  .price .d-text {
    font-size: 7px !important;
  }

  .button sub {
    font-size: 4px;
  }

  .tab-bar ul li a {
    font-size: 13px;
  }

  .select_cards_detail p {
    direction: rtl;
    text-align: right;
  }
}

// payment_hyper
.payment_hyper .wpwl-form .wpwl-label {
  text-align: right;
}

.payment_hyper .wpwl-form input {
  text-align: right;
}

.payment_hyper .wpwl-form .wpwl-group .wpwl-registration {
  padding-left: 0;
  padding-right: 45px;
}

.payment_hyper .wpwl-form .wpwl-group .wpwl-wrapper-registration-details {
  padding-right: 15px;
  padding-left: 0px !important;
}

.payment_hyper .wpwl-form .wpwl-group .wpwl-registration:before {
  left: auto !important;
  right: 6px !important;
}

.payment_hyper .wpwl-form .wpwl-group .wpwl-registration:after {
  left: auto !important;
  right: 0px !important;
}

.payment_hyper .wpwl-form .wpwl-group .wpwl-wrapper-registration-brand {
  padding: 0px !important;
}

.payment_hyper
  .wpwl-form
  .wpwl-group
  .wpwl-wrapper-registration-details
  .wpwl-wrapper-registration {
  padding-right: 0px !important;
  padding-left: 10px;
}

.banner .bottom-bar .left {
  order: 2;
}

.successfully_message {
  text-align: end;
}

.section-filter.rangeslider
  .ngx-slider
  .ngx-slider-pointer[aria-valuetext="100000<b>SAR</b>"] {
  left: auto !important;
  right: 0px !important;
}

@media (min-width: 480px) {
  .wpwl-wrapper-registration-cvv {
    width: 100% !important;
  }
}

@media screen and (max-width: 369px) {
  .payment_hyper
    .wpwl-form
    .wpwl-group
    .wpwl-wrapper-registration-details
    .wpwl-wrapper-registration {
    font-size: 11px !important;
  }
}

.lightly-products,
.heavily-products,
.excellent-products {
  border-left: none !important;
}

.products-list .highest_bid {
  float: left !important;
}

.sell-content .plus-text b {
  text-align: left;
  direction: rtl;
}

// 19-02-2021
.section-condition .condition-box {
  direction: rtl;
  text-align: right;
}

.section-condition .condition-box .condition-button .condition-btn {
  direction: rtl;
  text-align: right;
}


.error_message {
  text-align: end;
}

.delivery_btn {
  direction: rtl;
}

.delivery_btn .btn.track_shipping_btn {
  margin-left: 2%;
  margin-right: 0px !important;
}

.delivery_btn .btn.confirm_delivery_btn {
  margin-left: 0 !important;
  margin-right: 2%;
}

.tracking-processing .auot-confirm {
  text-align: left !important;
}

.order-details table td.price {
  display: inherit;
}

.cart-totals tr:last-child .f-price {
  font-size: 14px;
}

.price {
  direction: rtl;
  padding-right: 10px !important;
}


.price .o-price {
  margin-right: 5px;
}

.questions-send .arrow-send {
  margin-right: 0px !important;
  margin-left: 0;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .otp-input {
  margin-right: 8px;
}

.sell-content .plus-text {
  text-align: left !important;
}

.products-bottom .button {
  margin-right: 0;
  margin-left: 3px;
  float: left;
  direction: rtl;
  text-align: right !important;
}
.align-text-now {
  text-align: right !important;
}
.products-bottom .button .now-text {
  text-align: right;
}
.products-bottom .button .now-text-font {
  text-align: right;
}

.lightly-products .button2:after {
  left: -7px !important;
  right: auto !important;
}


.invoice-box .invoice-container {
  padding: 70px 40px;
}

.order-details-id {
  word-break: break-all;
  font-size: 12px;
}

.invoice-box .col-sm-6 {
  padding: 0px !important;
}

.invoice-box .row {
  margin: 0px !important;
  flex-wrap: inherit !important;
}

.filter-btn .icon-btn {
  float: right !important;
  border-right: 0px;
  padding-right: 0px;
  margin-right: 0;
  margin-left: 6px;
  border-left: 1px solid #ebebeb !important;
  order: 2;
  .filter_img {
    width: 25px;
    height: 25px;
    transform: rotate(90deg);
  }
  .sort_img {
    width: 25px;
    height: 25px;
  }
}

.filter-btn .icon-btn .soum-icon,
.upload-box img {
  transform: rotate(180deg);
}
 
.cancel{
  padding-right: 20px;
}
.section-details ul li,
.products-list .product-info .product-available,
.payment-box .product-title {
  direction: rtl;
}

.products-row .col-6:nth-child(1) {
  order: 2;
}
.row.products-home {
  direction: rtl;
}

.products-home .col-6 {
  order: unset !important;
}
.similar_products .row,
.products-row .row {
  justify-content: flex-end;
}

.products-row .col-6 > p {
  text-align: end;
}

.cart-totals {
  float: left !important;
  direction: rtl;
}

.acceptBid_btn {
  display: flex;
  align-items: baseline;
}

.acceptBid_btn .green_color {
  order: 2;
}

.rejectBid_btn {
  display: flex;
  align-items: baseline;
}

.rejectBid_btn .green_color {
  order: 2;
}

.payment-box .products-content .btn_2 .acceptBid_btn .allbid_btn .rejectBid_btn {
  margin-left: 0px !important;
  margin-right: 8px !important;
}

.accept_bid_button {
  margin-right: auto !important;
  width: 100%;
}

.all-bid-list table tr td,
.all-bid-list table tr th {
  text-align: right;
}

.order-summary-table table td + td {
  text-align: right !important;
  padding-right: 0px !important;
}

.section-how-work p {
  direction: rtl;
  text-align: right;
}

.section-selected-photos .selected-photos-img .photo-selected-img {
  display: block !important;
}

.description-row .textarea-field textarea {
  direction: rtl;
}

.ion-overlay-wrapper {
  direction: rtl;
}

.section_login .input-text-bar {
  text-align: left !important;
}

.section_login .input-text-bar.center-text {
  text-align: center !important;
  direction: rtl;
}

.error_message,
.sort-box .no-model,
.products-row .col-6 > p,
.error-msg,
.error-profile {
  direction: rtl;
  text-align: right !important;
}

.section-details.bank_detail .username {
  direction: rtl;
}

.section-details.bank_detail .username strong {
  float: right;
  direction: rtl;
}

.device-sell-row,
.select-model-row.select-model-row2 {
  direction: rtl;
}

.banner .e-image {
  display: none;
}

.banner .a-image {
  display: block;
}

// .banner #selectlanguage .fa {
//     color: #000 !important;
// }

.login-bar .logos .en-logo {
  display: none;
}

.login-bar .logos .ar-logo {
  display: block;
}

.banner .right {
  float: right;
}

.privacy-policy {
  direction: rtl;
  text-align: right;
}

//  08-03-2021

.ar-mode-switch {
  display: none;
}
.en-mode-switch {
  display: block !important;
  font-size: 11px;
  line-height: 22px;
}
.banner .custom-switch .custom-control-label::after {
  left: calc(3rem + 2px) !important;
}
body owl-carousel .owl-dots button.owl-dot.active {
  background: var(--primary-color) !important;
}
.first-bar{
  text-align: right;
}


.isListedBefore,
.expiryAfterInDays {
  direction: rtl !important;
}

.product_number {
  direction: rtl !important;
}

.msg_validation {
  float: right;
  display: block;
  direction: rtl;
}

.hint-message {
  float: right;
  direction: rtl;
}

.validPromo,
.inValidPromo,
.waitingVerify,
.addCode {
  display: block;
  float: right;
}


// notification

.notification-light {
  position: absolute;
  top: 5px ;
  left: 5px;
}

.mark-read {
  position: absolute;
  top: 2px;
  left: 15px;
}


.point {
  position: absolute;
  top: 1px;
  left: 10px;
}

.container-notification {
  direction: rtl;
}

.user-name, .description, .action, .bidDesc, .userBidder {
  float: right;
  text-align: right;
}

.discount {
  margin-left: 10px;
  // text-align: right;
}

.points {
  float: right;
  direction: rtl;
  font-size: 14px !important;
  font-size: small;
  text-align: right;
}

.thanksOrderDetails {
  direction: rtl;
  text-align: right;
}

.question_date{
  border-right: 2px solid lightgrey;
    margin-right: 5px;
    padding-right: 5px;
    float: left;
}
.align-normal{
  text-align: right;
}

.iconNotification {
  transform: rotateY(180deg) !important;
}

.bidValue {
  float: left;
  text-align: left;
  direction: rtl;
}

.expireDate {
  text-align: right;
}

.aligmentsoumbid {
  display: flex;
  flex-direction: column;
}

.renewAfterExpir {
  float: left !important;
}

.RenewNotify {
  float: left !important;
  direction: rtl;
}

.pExpiredAvailable {
  direction: rtl;
  font-size: 12px !important; 
  color: #A6AEAF;
}

.view_all{
  float: left;
}
.black-class{
float: right;
}
.mat-expansion-panel-header-title , .mat-expansion-panel-body {
  direction: rtl;
  text-align: right;
  font-family: 'DIN Next LT Arabic';
}
.title-size{
  float: right;
  padding-left: 5px;
}
.free{
  padding-left: 5px;
}
.section-device-memory .container-padding {
  padding: 0px 40px !important;
}
.tag-class{
  float: right;
}
.close-class{
  float: left;
}
.promo-arabic{
  direction: rtl;
  float: right;}


.deletetheproduct {
  // float: right;
}
.separator-icons {
  width: 110% !important;
}

.calender-arabic{
  // float: right;
}

.input-promo{
  border-radius: 0px 10px 10px !important;
  direction: rtl;
}

.arabic-direction{
  direction: rtl;
}
.arabic-direction-with-m{
  direction: rtl;
  margin-right: 13px;
}

.bluePoint{
    float: right;
    margin-top: 10px !important;
    margin-left: 0 !important;
    margin-right: -20px !important;
}

.middle-styles{
  direction: rtl;
    float: right;
}
.styleBankDetails h4 {
  direction: rtl;
}

.dateBoughtSold{
     display: flex;
    justify-content: flex-start !important;
    font-family: 'DIN Next LT Arabic', sans-serif;
    font-size: 8px;
    color: #A6AEAF;
}



.promo-font, .section_title_ar, .referral-popup {
  direction: rtl !important;
}


.hint_period, .desc_info, .hint_displayed, .valid-month {
  direction: rtl!important;
  text-align: start!important;
}



.info_lsting_msg{
 flex-direction: row-reverse!important;
 position: relative;
  .s_part {
      direction: rtl;
      text-align: start;

      .f_text, .s_text {display: inline !important;}
      .t_text {display: block !important;}
  }

  .sx_part {
    padding: 9px !important;
  }


  .image1x {
    position: absolute!important;
    right: 0!important;
    left: auto!important;
    bottom: 5px!important;
  }

  .image3x {
    position: absolute!important;
    right: 0!important;
    left: auto!important;
    bottom: 3px!important;
  }
}

.info_lsting_msg_congrates {
  flex-direction: row!important;
  position: relative;
  width: 100% !important;
}

.buttons_continue {
  flex-direction: row!important;
}

.footer-congrates {
  flex-direction: row-reverse!important;
}

.arrow_call_us{
  transform: rotateY(180deg) !important;
  margin: 0 0 0 10px !important;
}

.btn_callUs a {
  direction: rtl;
}

.title-congrates {
  margin-left: 20%!important;
}

.hint-iban{
  direction: rtl;
    float: right;
}

.mat-card-header{
  direction: rtl !important;
}

.filter-btn , .filter-btns {
  background-repeat: no-repeat;
  background-position: 7px center;
  justify-content: flex-end;
}

.filter-btns .icon-btn .soum-icon, .upload-box img {
  transform: rotate(180deg);
}

.filter-btns .icon-btn {
  float: right !important;
  border-right: 0px;
  padding-right: 0px;
  margin-right: 0;
  margin-left: 6px;
  border-left: 1px solid #ebebeb !important;
  order: 2;
  .filter_img {
    width: 25px;
    height: 25px;
    transform: rotate(90deg);
  }
  .sort_img {
    width: 25px;
    height: 25px;
  }
}

.favouriteBTN {
  display: flex;
  justify-content: flex-end;
  .hint-iban{
    direction: rtl;
    float: right;
  }
}

.arabic-dir{
direction: rtl;
float: right !important;
width: auto !important;
}
.btn-label{
  direction: rtl;
float: right !important;
width: auto !important;
padding-left: 5px;
}
.about-soum-container {
  .header-title {
    display: flex;
    flex-direction: row-reverse !important;

    .back-arrow {
      transform: rotateY(180deg);
   }
  }

  .container-info {

    .titleStep h3{text-align: right !important; direction: rtl !important;}

    .step1 {
      display: flex;
      flex-direction: row-reverse !important;

    .imgStep1 { position: absolute;  left: 10px !important;  top: -25px !important; }
    .imgStep3 { position: absolute;  left: 10px !important;  top: -5px !important;  width: 90px !important;}
    .imgStep5 { position: absolute; left: 10px !important; top: -10px !important; width: 90px !important;}
    }

    .step2 {
      display: flex !important;
      flex-direction: row !important;
      .imgStep2 { position: absolute; right: 5px !important; top: 25px !important; left: unset !important; }
      .imgStep4 { position: absolute; right: 5px !important; top: -20px !important; left: unset !important; }
      .titleStep {
        h3{text-align: left !important;}
      }
    
    }

  }
}
// part refer and earn style

.refer-container{
  .header-title {
    display: flex; flex-direction: row-reverse !important;
    .back-arrow {transform: rotateY(180deg);}
  }

  .containerRef {
    .textInfo {
      .text1{
        border-right: 1px dashed #31CDCD !important;
        border-left :0 !important;
        padding-right: 25px !important;

        h2{ direction: rtl; text-align: right; }
        .no{ position: absolute; right: -11px; left: unset !important;}
      }
    }
  }

  .copyCode{
    display: flex;
    flex-direction: row-reverse !important;

    .fPart {
      border-top-right-radius: 5px !important;
      border-bottom-right-radius: 5px !important;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }

    .codepart {
      display: flex;
      justify-content: flex-end !important;
      align-items: center;
      border-top-left-radius: 5px !important;
      border-bottom-left-radius: 5px !important;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
}

.products-btns-price{
  display: flex;
 justify-content: space-between;
 flex-direction: row-reverse !important;
}

.products-btns-price2 {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row !important;
}

// this style for shared header 
.container {
  .headerAction {
    position: absolute;
    top: 0;
    left: 15px;
  }
}
.breadcrumb-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse !important;
  .separator {
    img {
      transform: rotateY(180deg);
    }
  }
}

.err-desc{
  direction: rtl;
  text-align: right;
}
// style for products header 
.new-banner {
  .top-bar {
    flex-direction: row-reverse !important;
    .right {
      flex-direction: row-reverse !important;
      .twitter,.instagram {
          margin-right: 10px;
          margin-left: 0 !important;
      }

      .language {
        flex-direction: row !important;
        .iconLanguage {
          margin-left: 0 !important;
          margin-right: 5px !important;

          .langs-mode {
            margin-top: -4px !important;
          }
        }
      }
    }
  }

  .bottom-bar {
    flex-direction: row-reverse !important;
    padding-left: 0 !important;
    padding-right: 15px !important;
    .left {
      text-align: right !important;
      direction: rtl !important;
    }
  }
}

.min-commerce {
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
  flex-direction: row-reverse !important;
}

.soum-moarf {
  direction: rtl;
}

// section new address format 


.city_address_filter .city_container {
  .title_city {
    display: flex;
    direction: rtl;
  }
  .input_filter {
    input {
        direction: rtl !important;
        padding-right: 35px;
        border: 0;
      } 
      .search_icon {
        position: absolute;
        top: 10px;
        right: 5px !important;
        left: auto !important;
      }

    .remove_icon {
        position: absolute;
        bottom: 10px;
        left: 10px !important;
        right: auto !important;
    }
  }
}


.cities {
  direction: rtl;
    h3 {
      display: flex;
      justify-content: flex-start;
    }
}

// walkThrough Part after listing success
.wlakThrought {
  .header_part {
    flex-direction: row-reverse !important;
    .callUS_text {
      direction: rtl !important;
    }
  }

  #stepper1, #stepper2, #stepper3 {
    .content_wlakThrought {
      padding-right: 40px !important;
      direction: rtl !important;
    }
  }

  #stepper4 {
    .content_wlakThrought {
      padding: 0 40px 0 65px !important;
      direction: rtl !important;
    }
  }

  
  .stepper {
    flex-direction: row-reverse !important;
    padding: 0 50px !important;
  }

  .footer {
    .footer_content {
      flex-direction: row-reverse !important;
      direction: ltr !important;
      .skipBtn {
        border-radius: 25px 0 0 25px !important;
      }
      .nextBtn {
        transform: rotateY(180deg) !important;
        margin-left: 25px !important;
      }
    }
  }
  .footer_content{
    direction: rtl;
  }
}
.delivery{
  padding-right: 20px;
}

// device status component style

.descriptionContainer {
  .description1 h2 {
    direction: rtl !important;
  }
}
.actionBottom {
  .containerSeparator{ 
    .separator{
      float: right !important;
    }
  }
}

.approvedPendingListing{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 35% !important;
  background-color: green;
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding: 3px 0;
  margin: -6px 0 10px 0;
  direction: rtl;
  float: right;
}

.approvedListingTitle{
  padding-right: 10px !important;
  margin-top: 2px !important;
  padding-left: 3px !important;
}
.variant-box{
  direction: rtl;
}