.products-bottom .button {
  float: right;
  margin-right: 0px;
}
.align-text-now {
  text-align: left !important;
}
.skipped {
  float: left !important;
}
.favouriteBTN .button {
  float: left !important;
}
.cancel-button {
  float: right;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  
  
  
  /* Secondary green */
  
  color: #31CDCD !important;
}
.cancel{
  padding-left: 40px;
}
.calc{
  float: right !important;
}
.button-next {
  border-radius: 20px 0px 0px 20px !important;
  float: right !important;
}
.section_style {
  font-family: "DIN Next LT Arabic Medium", sans-serif;
  text-align: left !important;
}
.notification-light {
    position: absolute;
    top: 5px;
    right: 5px;
  }

.mark-read {
  position: absolute;
  top: 2px;
  right: 15px;
}

.point {
  position: absolute;
  top: 1px;
  right: 10px;
}

.discount {
  margin-right: 15px;
}


.question_date{
  border-left: 2px solid lightgrey;
    margin-left: 5px;
    padding-left: 5px;
}

.bidValue {
  float: right;
  text-align: right;
}

b.bidStatusAccept {
  float: right;
}

.p.completePayment {
  float: right;
  width: 160px;
}

.renewAfterExpire{
  float: right;
}

.input-promo{
  border-radius: 0px 10px 10px !important;
}
.view_all{
  float: right;
}
.align-normal{
  text-align: left;
}
.section-device-memory .container-padding{
  padding: 0px 40px;
}
.tag-class{
  float: left;
}
.close-class{
  float: right;
}
.promo-arabic{
  direction: ltr;
  float: left;
}

.remove {
  margin-right: 10px
}
.information{
  float: left !important;
}

.icon-float{
  float: left
}
.arrow_lastStep{
  transform: rotateY(180deg) !important;
  margin: 0 10 0 0px !important;
}
.english-margin{
margin-left: 80px !important;
}
.favouriteBTN .button {
  float: left !important;
}
.mat-expansion-panel-header-title , .mat-expansion-panel-body {
  direction: ltr;
  text-align: left;
  font-family: 'DIN Next LT Arabic';
}
#stepper1, #stepper2, #stepper3 {
  .content_wlakThrought {
    padding-left: 40px !important;
    direction: ltr !important;
  }
}