<div class="content">
  <div class="back-bar margin-bottom">
    <div class="container">
      <a class="back-button" (click)="navigateTo('/products')"
        ><img alt="back" [src]="'back.png' | imagePath: 'newSign'"
      /></a>
    </div>
  </div>
  <div class="products-top-bar">
    <div class="logo-save-as-draft">
      <img alt="listing" [src]="'illustration-listing.png' | imagePath: 'newSign'" />
    </div>
    <div class="backgroundThird">
      <div class="bold-font">
        {{ 'labels.save-as-draft-label' | translate }}
      </div>
      <div class="normal-font">
        {{ 'labels.save-as-draft-desc' | translate }}
      </div>

      <div class="products-bottom">
        <a
          class="button btn-full"
          style="width: calc(100% - 0px)"
          (click)="navigateTo('/bids-and-items')"
        >
          <span class="now-text">
            {{ 'labels.save-as-draft-now' | translate }}
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
