.system_settings .action-checkbox {
    justify-content: flex-end;
    align-items: center;
}
.system_settings .action-checkbox label{margin-bottom: 0px;}
.system_settings td h6 {
    margin-bottom: 0px;
}

.system_settings td {
    vertical-align: middle;
}

.wrong-value {
    color: red;
}