.fa_title {
  font-weight: 600;
  font-size: 2.125rem;
  text-align: center;
  color: #000;
}

.fa_desc {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  color: rgb(138, 146, 166);
}

::ng-deep {
  ng-otp-input {
    .wrapper {
      display: flex;
      justify-content: center;
      .otp-input {
        margin: 0 8px;
        width: 72px !important;
        height: 80px !important;
        width: 60px !important;
        &.ng-dirty {
          background-color: #70edff30;
        }
      }
    }
  }
}
