<div class="content">
    <div class="back-bar margin-bottom">
        <div class="container">
            <a class="back-button" (click)="back()">
                <img alt="back" [src]="'back.png' | imagePath: 'icons'">
            </a>
        </div>
    </div>
    <div class="section_login" [formGroup]="forgotPasswordForm">
        <div class="container container-padding">
            <div class="login-bar">
                <div class="logos">
                    <img [src]="'en-logo.png' | imagePath: 'icons'" alt="color-logo" class="color-logo en-logo">
                    <img [src]="'ar-logo.png' | imagePath: 'icons'" alt="color-logo" class="color-logo ar-logo">
                </div>
                <p class="sub-title">{{'forgotPassword.enterMobileNumber' | translate}}</p>
                <div class="detail-col">
                    <input type="number" id="number" class="mobile-num" name="number" formControlName="mobileNumber"
                        [placeholder]="'forgotPassword.mobileNumber' | translate" [maxLength]="mobileNumberMaxLength">
                    
                </div>
                <p class="error-msg"
                    *ngIf="forgotPasswordForm?.controls['mobileNumber'].value && (forgotPasswordForm?.controls['mobileNumber']?.invalid || forgotPasswordForm?.errors)">
                    {{'forgotPassword.invalidMobile' | translate}}
                </p>
                <div class="button-login">
                    <button type="button" name="submit" class="submit"
                        [disabled]="forgotPasswordForm?.controls['mobileNumber']?.invalid || forgotPasswordForm?.errors!"
                        (click)="forgotPassword()">
                        {{'forgotPassword.verify' | translate}}
                        <img alt="send" [src]="'arrow-send.svg' | imagePath: 'icons'">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>