.background{
    background-color: #FDFDFD;
    padding-top: 10px;
    font-family: 'DIN Next LT Arabic Regular' !important;
    min-height: 100vh !important;
}
.btn-question{
    background-color: #FDFDFD;
    color: #177AE2;
    display: inline-block;
    margin: 5px;
}
.title{
    color: #177AE2;
    text-align: center;
    font-family: 'DIN Next LT Arabic Medium';
}
.full-height{
    height: 150vh !important;
}

.btn-wrapper{
    text-align: center;
    padding: 0 5px;
}