.background{
    background-color: #FDFDFD;
}

mat-expansion-panel{
    margin: 10px;
    padding: 10px;
}
mat-panel-title{
    font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 21px;
/* or 150% */


/* Black */

color: #313437;
}
.font-normal{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* or 150% */


/* Dark gray */

color: #A6AEAF;
}