<div class="refer-container content">
    <app-header [pageTitle]="'referAndEarn.referAndEarn' | translate" (goBack)="goback()"></app-header>

    <div class="container-info">
        <div class="img-info">
            <img alt="refer and earn" [src]="'referAndEarn.png' | imagePath" />
        </div>

        <div class="howItWorksTitle">
            <h1>{{'referAndEarn.howItWorks'|translate}}</h1>
        </div>

        <div class="containerRef">
            <div class="textInfo">
                <div class="text1">
                    <h2>{{'referAndEarn.shareyourCode' | translate}} <strong>{{'referAndEarn.between' | translate}}</strong></h2>
                    <div class="no">1</div>
                </div>
            </div>

            <div class="textInfo">
                <div class="text1">
                    <h2>{{'referAndEarn.useYourCode' | translate}} <strong>{{'referAndEarn.200discount' | translate}}</strong></h2>
                    <div class="no">2</div>
                </div>
            </div>

            <div class="textInfo">
                <div class="text1" style="border: 0!important;">
                    <h2>{{'referAndEarn.reward' | translate}} <strong>{{'referAndEarn.transferYourBank' | translate}}</strong></h2>
                    <div class="no">3</div>
                </div>
            </div>
        </div>

        <div class="containerSahreCode">
            <h1 class="textSahreCode">{{'referAndEarn.shareCode' | translate}}</h1>
            <div class="copyCode">
                <div class="fPart" title="Click To Copy Code" [ngxClipboard]="inputTarget" (click)="copy(inputTarget.value)">{{'referAndEarn.copy' | translate}}</div>
                <input #inputTarget readonly class="codepart fPart" [(ngModel)]="refferalCode" />
            </div>
        </div>
    </div>
</div>