.breadcrumb-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 10px;
  margin: auto;
  background: aliceblue;
  border-radius: 5px;

  .type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      font-size: 16px;
      color: #212121;
      font-family: "DIN Next LT Arabic Regular", sans-serif;
      text-align: center;
    }
    .active {
      color: #177ae2;
    }
  }

  .separator {
    margin: 3px 2px 0 2px;
    img {
      width: 15px;
    }
  }
}