.deActiveButton {
    background-color: white !important;
    color: #000;
}

.tabs:first-child {
    margin-left: 0;
}

.card {
    margin-top: 20px;

    .card-body {
        min-height: 200px;

        .submit_btn {
            width: 98px;
            margin-left: 0;
            margin-top: 25px;
            height: 41px;
        }
    }

    .card_title {
        color: #757575;
        font-weight: 500;
        font-size: 18px;
    }

    .active_bidding {
        margin-top: 15px;
        display: flex;
        flex-direction: column;

        &_txt {
            font-weight: 500;
            font-size: 16px;
        }

        .toggle_label {
            margin: 10px 5px 2px 10px;
        }
    }

    .payment_methods {
        margin-top: 15px;
        display: flex;
        flex-direction: column;

        &_txt {
            font-weight: 500;
            font-size: 16px;
        }

        &_checks {
            &:first-child {
                margin-right: 95px;
            }

            .check_title {
                color: #212529;
            }
        }
    }

    .settings_options {
        width: 75%;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &_field {
            position: relative;

            .txt {

                font-weight: 500;
                font-size: 16px;
                margin-bottom: 10px;
            }

            input, select {
                border-radius: 6px;
                padding: 10px;
                width: 260px;
                height: 38px;
                border: 1px solid #CFD4D9;
            }

            .icon {
                right: 10px;
                bottom: 10px;
                font-size: 12px;
                font-weight: 700;
                position: absolute;
            }
        }

        .toggle_label {
            margin: 10px 5px 5px 5px;
        }
    }

    .table_wrapper {
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 4px;
        border: 1px solid #D2D7D9;

        .data_row {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                flex: 1;
            }

            .input_wrapper {
                flex: 1;

                input {
                    width: 101px;
                    border-radius: 5px;
                    padding: 5px 10px;
                    border: 1px solid #D2D7D9;
                }
            }

            &.header {
                span {
                    font-weight: 500;
                }
            }

            &:nth-child(1) {
                background-color: #F3F3F3;
            }

            &:not(:first-child) {
                border: 1px solid #D2D7D9;
            }
        }
    }

    .add_new {
        margin-top: 20px;
        font-size: 17px;
        font-weight: 500;
        color: #01b9ff;
        cursor: pointer;

        &:hover {
            color: #177AE2;
        }
    }

    .save {
        width: 100%;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
        background-color: #01b9ff;
        padding: 11.5px;
        border: none;
        margin-top: 20px;

        &:hover {
            background-color: #177AE2;
        }
    }
}

.checkbox-box span:before {

    color: #fff;
    background-color: #01b9ff;
    border-radius: 5px;
}

.switch input:checked+.slider {
    background-color: #31cdcd;
}