<div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div
            class="page-title-box d-flex align-items-center justify-content-between"
          >
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item active">
                  <a [routerLink]="['/admin/products/mismatched-listings']">{{
                    "admin.mismatchedListings" | translate
                  }}</a>
                </li>
                <li class="breadcrumb-item">
                  <a [routerLink]="['/admin/products/reported-listings']">{{
                    "admin.reportedListings" | translate
                  }}</a>
                </li>
                <li class="breadcrumb-item">
                  <a [routerLink]="['/admin/products/deleting-listings']">{{
                    "admin.deletedListings" | translate
                  }}</a>
                </li>
                <li class="breadcrumb-item">
                  {{ "admin.onHoldListings" | translate }}
                </li>
                <li class="breadcrumb-item">
                  <a [routerLink]="['/admin/products/fraud-listings']">{{'admin.fraudListings' | translate}}</a>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->
  
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body pt-3">
              <div class="table-responsive table-style">
                <table class="table mb-0">
                  <thead class="thead-light">
                    <tr>
                      <th>{{ "attributes.no" | translate }}</th>
                      <th style="min-width: 100px">
                        {{ "product.picture" | translate }}
                      </th>
                      <th style="min-width: 100px">
                        {{ "product.currentMarketPrice" | translate }} {{currency}}
                      </th>
                      <th style="min-width: 100px">
                        {{ "product.buyNowPrice" | translate }} {{currency}}
                      </th>
                      <th style="min-width: 100px">
                        {{ "product.signalAI" | translate }}
                      </th>
                      <th style="min-width: 100px">
                        {{ "product.sellerPhomeNumber" | translate }}
                      </th>
                      <th style="min-width: 100px">
                        {{ "product.reason" | translate }}
                      </th>
                      <th style="min-width: 100px">
                        {{ "product.product_link" | translate }}
                      </th>
                      <th style="min-width: 100px">
                        {{ "product.delete_product" | translate }}
                      </th>
                      <th style="min-width: 100px">
                        {{ "product.approval" | translate }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let product of productList | paginate : {
                                id: 'productList',
                                itemsPerPage: limit,
                                currentPage: currentPage,
                                totalItems: totalResult
                              };
                        let i = index" >
                      <td>{{ i + 1 }}</td>
                      <td>
                        <img
                          [src]="product.product_image"
                          alt="product"
                          width="150px"
                          height="150px"
                        />
                      </td>
                      <td>{{ product.new_device_price || "---" }} {{currency}}</td>
                      <td>{{ product.buy_now_price || "---" }} {{currency}}</td>
                      <td>{{ product.signalAI || "---" }}</td>
                      <td>{{ product.phone_number || "---" }}</td>
                      <td>{{ product.reason || "---" }}</td>
                      <td>
                        <a [routerLink]="['/admin/products/products-details', product.product_id]" class="mr-2 text-solitud">
                          <i class="fas fa-eye font-size-18 iconStyle"></i>
                        </a>
                      </td>
                      <td>
                        <a class="text-danger" (click)="OpenDeleteListingModel(product?.product_id)">
                          <i class="mdi mdi-trash-can font-size-18 iconStyle"></i>
                        </a>
                      </td>
                      <td>
                        <label class="switch">
                          <input
                            type="checkbox"
                            (change)="approveProduct(product)"
                            [(ngModel)]="product.isApproved"
                            id="verify"
                          />
                          <span class="slider round"></span>
                        </label>
                      </td>
                    </tr>
                    <tr *ngIf="!productList?.length">
                      <td colspan="4">No Onhold Listing Products found!</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <div class="dataTables_info">
            {{ "product.showMinMaxNumberofList" | translate: entries }}
          </div>
        </div>
        <div class="col-sm-12 col-md-7">
          <div class="dataTables_paginate paging_simple_numbers">
            <pagination-controls
              [autoHide]="true"
              [nextLabel]="paginationNextLabel"
              [previousLabel]="paginationPreviousLabel"
              id="productList"
              (pageChange)="selectPage($event)"
            >
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  