.xlxs_download {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-bottom: 10px;
}

.search_part {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dataTables_filter label .form-control {
    width: 100%;
}

.dataTables_filter label .form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #aeb5bb
}

.dataTables_filter label .btn
{
    margin-bottom: 3px;
}

.table-responsive {
    overflow: hidden;
}